Jinja2
Markdown
MarkupSafe
Pygments
Unidecode
beautifulsoup4
blinker
docutils
feedgenerator
htmlmin
ipython
pelican
pelican-minify
python-dateutil
pytz
six
smartypants
typogrify
yuicompressor
cssmin
webassets
